<h3>Cadastro de Produtos</h3>
<p>Preencha os campos para incluir um produto</p>
<hr />

<div *ngIf="mensagem" class="alert alert-info alert-dismissible show"
  role="alert">

  <strong>{{mensagem}}</strong>
  <button type="button" class="btn-close" (click)="mensagem=''"
  aria-label="Close">

  </button>
</div>

<form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
  <div class="row mb-2">
    <div class="col-md-6">
      <label>Nome do produto:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Digite o nome aqui"
        formControlName="nome"
      />
      <span class="text-danger" *ngIf="form.nome.touched && form.nome.invalid">
        <span *ngIf="form.nome.errors.required">Informe o nome do produto</span>  
        <span class="text-danger" *ngIf="form.nome.errors.minlength">
          Informe no mínimo 8 caracteres
        </span>
        <span class="text-danger" *ngIf="form.nome.errors.maxlength">
          Informe no máximo 100 caracteres
        </span>
      </span>
    </div>

    <div class="col-md-3">
      <label>Preço do produto:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Digite o preço aqui"
        formControlName="preco"/>

        <span class="text-danger" *ngIf="form.preco.touched && form.preco.invalid">
          <span *ngIf="form.preco.errors.required">
            Informe o preço do produto
          </span>
          <span class="text-danger" *ngIf="form.preco.errors.min">
            Informe no mínimo 0
          </span>
          <span class="text-danger" *ngIf="form.preco.errors.max">
            Informe no máximo 999999
          </span>
        </span>
    </div>

  
    <div class="col-md-3">
      <label>Quantidade do produto:</label>
      <input
        type="number"
        class="form-control"
        placeholder="Digite a quantidade aqui"
        formControlName="qtde"/>
        <span class="text-danger" *ngIf="form.qtde.touched && form.qtde.invalid">
          <span class="text-danger" *ngIf="form.qtde.errors.required">
            Informe a qtde do produto
          </span>
          <span class="text-danger" *ngIf="form.qtde.errors.min">
             Informe no mínimo 0
          </span>
          <span class="text-danger" *ngIf="form.qtde.errors.max">
            Informe no máximo 9999
          </span>
        </span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <label>Descrição do produto:</label>
      <textarea class="form-control" formControlName="descricao"
      ></textarea>
      <span class="text-danger" *ngIf="form.descricao.touched && form.descricao.invalid">
        <span class="text-danger" *ngIf="form.descricao.errors.required">
          Informe a descrição do produto
        </span>
        <span *ngIf="form.descricao.errors.minlength">
            Informe no mínimo 8 caracteres
        </span>
        <span class="text-danger" *ngIf="form.descricao.errors.maxlength">
          Informe no máximo 200 caracteres.
        </span>
      </span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <input type="submit" class="btn btn-success" value="Realizar Cadastro" [disabled]="!formCadastro.valid" />
      <a
        [routerLink]="['/pages/consulta-produtos']"
        class="btn btn-secondary ms-2"
      >
        Ir para a consulta
      </a>
    </div>
  </div>
</form>
